
@media (max-width: 1000px){
    .collapsible{
        margin-left: 20px;
    } 
    .gpa h2{ 
    font-size: 20px;
    }
}


@media (max-width: 900px){
    #cv-menu.navbar-default {
	background-color: #203E62;
	}
    .content {
	   padding: 40% 0 0;
	}  
}


@media (max-width: 780px){
    .collapsible{
        margin-left: 0px;
    } 
    .gpa{
        width: auto;
        margin-left: 0px;
    }
    .gpa h2{ 
    font-size: 25px;
    }
}

@media (max-width: 603px){
#cv-works li.pull-right, #cv-works li.pull-left {
    margin-top: 10px;
    float: none !important;
    text-align: center;
    display: block;
}
label{
    float: none !important
}
.pull-left.fnav,
.pull-right.fnav {
    float: none !important;
    text-align: center;
}

.hover-bg .hover-text {
    padding: 12% 10%;
}
    
}

@media (max-width: 450px){
.panel-heading{
    height: 33px;
}
h4 a{
    font-size: 13px;
}
}

@media (max-width: 360px){
.hover-bg .hover-text {
    padding: 22% 10%;
}
}