@media (max-width: 900px){
    #cv-menu.navbar-default {
	background-color: #203E62;
	}
    .content {
	   padding: 40% 0 0;
	}
}

@media (max-width: 603px){
#cv-works li.pull-right, #cv-works li.pull-left {
    margin-top: 10px;
    float: none !important;
    text-align: center;
    display: block;
}
label{
    float: none !important
}
.pull-left.fnav,
.pull-right.fnav {
    float: none !important;
    text-align: center;
}

.hover-bg .hover-text {
    padding: 12% 10%;
}
}
@media (max-width: 360px){
.hover-bg .hover-text {
    padding: 22% 10%;
}
}